* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f0ffff;
}

header {
    display: flex;
    padding: 20px;
    text-align: left;
    background: #2f4f4f;
    color: #f0ffff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

nav a {
    color: #f0ffff;
    padding: 15px;
}

.headerNav a:hover {
    box-shadow: 0 0 5px #f0ffff;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 50px;
}

#personalBio {
    margin: 40px;
    padding: 40px;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#aboutMe h2 {
    margin-bottom: 25px;
    font-size: x-large;
}

#aboutMe p {
    margin-top: 20px;
    font-size: larger;
}

#aboutMe img {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

#contactMe {
    padding: 20px;
    font-size: large;
}

#contactMe form {
    display: none;
}

#contactMe:hover form {
    display: contents;
}

input[type=text], 
input[type=phoneNumber] {
    width: 25%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
    
}

input[type=submit] {
    width: 100px;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px;
    margin-top: -60px;
}

.project {
    margin-bottom: 25px;
    padding: 25px 25px;
}

.project:nth-child(1) {
    flex: 0 0 1;
}

.mainProjectImg {
    height: 400px;
    width: 1320px;
}

.projectHeader {
    font-size: 1.75rem;
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    padding-left: 10px;
}

.projectHeader:hover {
    color: rgba(48, 80, 80, 0.25);
}

.projectHeader + img {
    position: relative;
    margin-top: -25px;
    z-index: 1;
    border-radius: 10px;
}

.projectHeader + img:hover {
    box-shadow: 0 0 15px #4255e5;
}

footer {
    display: flex;
    width: 100%;
    padding: 20px;
    background: #2f4f4f;
    justify-content: space-between;
   
}

#webPresence article {
    display: flex;
}

article h4 {
    display: none;
}

.footerNav a {
    padding: 15px;
}

.footerNav a:hover {
    box-shadow: 0 0 5px #f0ffff;
    border-radius: 5px;
}

.copyright {
    color: #f0ffff;
}

@media screen and (max-width: 992px) {
    header {
        background: #4255e5;
    }
    
    #personalBio {
        display: flex;
        flex-direction: column;
    }

    #aboutMe {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #aboutMe img {
        width: 400px;
        height: 400px;
    }

    #projects {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .mainProjectImg {
        height: 400px;
        width: 400px;
    }

    .project img {
        height: 400px;
        width: 400px;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: #4255e5;
    }

    .footerNav {
        padding: 10px;
        margin: 0 auto;
    }

    .copyright {
        margin: 0 auto;
        padding-top: 10px;
    }
}
