* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f0ffff;
}

header {
    display: flex;
    padding: 20px;
    text-align: left;
    background: #2f4f4f;
    color: #f0ffff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

h1 a {
    color: #f0ffff;
}

nav a {
    color: #f0ffff;
    padding: 15px;
}

nav a:hover {
    color: #84ceff;
}

.headerNav a:hover {
    box-shadow: 0 0 5px #84ceff;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 50px;
}

#personalBio {
    margin: 40px;
    padding: 40px;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#aboutMe h2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-size: x-large;
    width: 100%;
}

#aboutMe p {
    width: 65%;
    font-size: larger;
    margin-left: 50px;
}

#aboutMe img {
    object-fit: contain;
    max-width: 25%;
    max-height: 500px;
    margin-bottom: 20px;
}

#contactMe {
    padding: 20px;
    font-size: large;
}

.contactHeader {
    width: 15%;
    padding: 10px;
    border: solid 2px #cd5c5c;
    border-radius: 5px;
    background: #cd5c5c;
    color: #f0ffff;
    text-align: center;
}
    


#contactMe form {
    display: none;
}

#contactMe:hover form {
    display: contents;
}

input[type=text], 
input[type=phoneNumber] {
    width: 25%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
    
}

input[type=submit] {
    width: 100px;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px;
    margin-top: -60px;
}

.project {
    margin-bottom: 25px;
    padding: 25px 25px;
}

.project:nth-child(1) {
    flex: 0 0 1;
}

.mainProjectImg {
    height: 400px;
    width: 1320px;
}

.projectImg {
    height: 400px;
    width: 400px;
}

.projectHeader {
    font-size: 1.75rem;
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    padding-left: 10px;
    color: #f0ffff;
}

.projectHeader:hover {
    color: rgba(48, 80, 80, 0.75);
}

.projectHeader + img {
    position: relative;
    margin-top: -25px;
    z-index: 1;
    border-radius: 10px;
}

.projectHeader + img:hover {
    box-shadow: 0 0 25px #2f4f4f;
}

footer {
    display: flex;
    width: 100%;
    padding: 20px;
    background: #2f4f4f;
    justify-content: space-between;
    flex: 0 0 auto;
   
}

#webPresence article {
    display: flex;
}

article h4 {
    display: none;
}

.footerNav a {
    padding: 15px;
}

.footerNav a:hover {
    box-shadow: 0 0 5px #84ceff;
    border-radius: 5px;
}

.copyright {
    color: #f0ffff;
}

/* Media Query for tablets */

@media screen and (max-width: 992px) {


    header {
        background: #2f4f4f;
    }
    
    #personalBio {
        display: flex;
        flex-direction: column;
    }

    #aboutMe {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #aboutMe img {
        width: 400px;
        height: 400px;
    }

    .contactHeader {
        width: 100%;
    }

    input[type=text],
    input[type=phoneNumber] {
        width: 100%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .mainProjectImg {
        height: 400px;
        width: 400px;
    }

    .project img {
        height: 400px;
        width: 400px;
    }

    footer {
        width: 992px;
        display: flex;
        background: #2f4f4f;
        flex: 0 0 auto;
        bottom: 0;
    }

    .footerNav {
        padding: 10px;
        margin: 0 auto;
    }

    .copyright {
        margin: 0 auto;
        padding-top: 10px;
    }
}

/* Media Query for phones */

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        background: #2f4f4f;
        text-align: center;
    }
    
    nav {
        margin-top: 25px;
    }

    #personalBio {
        display: flex;
        flex-direction: column;
    }

    #aboutMe {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #aboutMe img {
        width: 400px;
        height: 400px;
    }

    .contactHeader {
        width: 100%;
    }

    input[type=text],
    input[type=phoneNumber] {
        width: 100%;
    }

    #projects {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .mainProjectImg {
        height: 400px;
        width: 400px;
    }

    .project img {
        height: 400px;
        width: 400px;
    }

    footer {
        width: 600px;
        display: flex;
        flex-direction: column;
        background: #2f4f4f;
        flex: 0 0 auto;
    }

    .footerNav {
        padding: 10px;
        margin: 0 auto;
    }

    .copyright {
        margin: 0 auto;
        padding-top: 10px;
    }
}




