* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f0ffff;
}

header {
    display: flex;
    padding: 20px;
    text-align: left;
    background: #2f4f4f;
    color: #f0ffff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

nav a {
    color: #f0ffff;
    padding: 15px;
}

.headerNav a:hover {
    box-shadow: 0 0 5px #f0ffff;
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 50px;
}

#personalBio {
    margin: 20px;
    padding: 40px;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#aboutMe h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

#aboutMe img {
    height: 150px;
    width: 150px;
    padding-bottom: 15px;
}

#contactMe {
    padding: 20px;
}

#contactMe form {
    display: none;
}

#contactMe:hover form {
    display: contents;
}

input[type=text], 
input[type=phoneNumber] {
    width: 25%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
    
}

input[type=submit] {
    width: 100px;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    padding: 25px 0;
}

.projectHeader {
    font-size: 1.75rem;
    position: absolute;
    z-index: 2;
    margin-left: 20px;
    padding-left: 10px;
}

.projectHeader + img {
    position: relative;
    margin-top: -25px;
    z-index: 1;
}

.projectHeader:hover {
    color: rgba(48, 80, 80, 0.25);
}